{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('intersa_table_cause',{'page':1}) }}{{ url_ext }}">Gestion des depenses </a></li>
                <li class="active">Modification de la dépense</li>
            </ol>
        </div>
        <div class="page-content">

            <div class="col-md-12 pull-left">
                <div class="page-header">
                    <h1>
                        Gestion des dépenses
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Modification de la dépense
                        </small>
                    </h1>
                </div>

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok-sign"></span>{{ flashMessage }}
                    </div>
                {% endfor %}
                <form action="{{ path('intersa_table_element_edit', {'table':table,'id':id}) }}{{ url_ext }}"
                      method="post" class="form-group" {{ form_enctype(form) }}>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.montant, "Montant") }}</label>

                            <div>
                                {% if form.montant.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.montant) }}</label>
                                        {{ form_widget(form.montant, {'attr': { 'class': 'task_field form-control', 'id':'libelle'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.montant, {'attr': { 'class': 'task_field form-control', 'id':'libelle'} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.objetDepense, "Objet de la dépense") }}
                            </label>

                            <div>
                                {% if form.objetDepense.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.objetDepense) }}</label>
                                        {{ form_widget(form.objetDepense, {'attr': { 'class': 'task_field form-control', 'id':'objetDepense'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.objetDepense, {'attr': { 'class': 'task_field form-control', 'id':'objetDepense'} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="codeCompagne"
                                   class=" control-label">{{ form_label(form.cause, "Cause") }}</label>

                            <div>
                                {% if form.cause.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.cause) }}</label>
                                        {{ form_widget(form.cause, {'attr': { 'class': 'task_field form-control', 'id':'cause'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.cause, {'attr': { 'class': 'task_field form-control', 'id':'cause'} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="widget-toolbox padding-8 clearfix">

                        <button class="btn btn-xs btn-success pull-right"  type="submit">
                            <span class="bigger-110">Modifier la dépense</span>

                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}