{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li class="active">Gestion des projets</li>
            </ol>
        </div>
        <div class="page-content">

            <div class="col-md-12 pull-left">
                <div class="page-header">
                    <h1>
                        Gestion des projets
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Liste des projets
                        </small>
                    </h1>
                </div>

                    {% if is_granted('ROLE_INTERSA_N1') or is_granted('ROLE_ASSOC_N1') or is_granted('ROLE_TRIAL') %}
                            <a href="{{ path('intersa_table_element_new',{'table':table}) }}"
                               class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un
                                projet </a>
                        <hr/>
                    {% endif %}

                <div class="pull-left">
                    <form action="{{ path('intersa_table_element',{'table':table,'page':1}) }}" method="GET">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="task_field form-control" placeholder="Code projet"
                                       name="codeprojet"/>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Rechercher"/>
                            </div>

                        </div>
                    </form>
                </div>
                <br/>
                <br/>
                <hr/>
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok-sign"></span>  {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('erreur') %}
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove-sign"></span>{{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="pagination_desc"><strong>{{ total_elements }}</strong> projet(s)
                    {% if last_page > 1 %}
                        - page <strong>{{ current_page }}/{{ last_page }}</strong>
                        <br/>
                    {% endif %}
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Libelle</th>
                        <th>Code budget</th>
                        <th>Statut</th>
                        <th>Budget ( $ / € )</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in elements %}
                        <tr>
                            <td>{% if element.name is not null %} {{ element.name }}{% endif %}</td>
                            <td>{{ element.code }}</td>
                            <td>{% if element.codeCompagne is not null %} {{ element.codeCompagne.name }} {% else %} Non attribué {% endif %}</td>
                            <td>{% if element.cible is not null and element.cible !='' %} {{ element.cible }} {% else %} Non attribué {% endif %}</td>
                            {% if is_granted('ROLE_INTERSA_N1') or is_granted('ROLE_ASSOC_N1') %}
                                <td><a class="btn btn-xs btn-default"
                                       href="{{ path('intersa_table_element_edit', {'table':table,'id':element.id}) }}">
                                        <span class="glyphicon glyphicon-edit"></span> Modifier
                                    </a>
                                    <a class="btn btn-xs btn-default" href="#"  onclick="delete_element({{ element.id }})">
                                        <span class="glyphicon glyphicon-remove"></span> Supprimer
                                    </a>
                                    <a href="{{ path('intersa_table_cause',{'page':1}) }}?idoccas={{ element.id }}"
                                       class="btn btn-xs btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span> Voir les codes d'activité
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <center>
            {% set url_ext = null %}
            {% if search is not null %}
                {% set url_ext = '?codeocc='~search %}
            {% endif %}
            {% if last_page > 1 %}
                <ul class="pagination pull-center">
                    <li>
                        <a href="{{ path('intersa_table_element', { 'table':table, 'page': previous_page }) }}{{ url_ext }}">&laquo;</a>
                    </li>
                    {% for page in 1..last_page %}
                        {% if page >= current_page-4 and page <= current_page+4 %}
                            {% if   page == current_page-4 or page == current_page+4 %}
                                {% if   page == current_page-4 %}
                                    <li>
                                        <a href="{{ path('intersa_table_element', { 'table':table, 'page': 1 }) }}{{ url_ext }}">1</a>
                                    </li>
                                    <li class="disabled"><a href="#">...</a></li>
                                {% else %}
                                    <li class="disabled"><a href="#">...</a></li>
                                    <li>
                                        <a href="{{ path('intersa_table_element', { 'table':table, 'page': last_page }) }}{{ url_ext }}">{{ last_page }}</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if page == current_page %}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('intersa_table_element', { 'table':table, 'page': page }) }}{{ url_ext }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{{ path('intersa_table_element', { 'table':table, 'page': next_page }) }}{{ url_ext }}">&raquo;</a>
                    </li>
                </ul>
            {% endif %}
        </center>
        <div class="modal fade" id="deleteelement" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel"
             aria-hidden="true">

        </div><!-- /.modal -->
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>

            function delete_element(id) {
                $.ajax({
                    url: "/intersa/ajax/delete/table/{{ table }}/id/" + id,
                    beforeSend: function (xhr) {

                    }
                })
                        .done(function (data) {
                            $("#deleteelement").html(data);
                            $("#deleteelement").modal('show');
                        });
            }

        </script>
    {% endblock %}