{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('intersa_table_cause',{'page':1}) }}">Gestion des catégories </a></li>
                <li class="active">Nouvelle catégorie</li>
            </ol>
        </div>
        <div class="page-content">

            <div class="col-md-12 pull-left">
                <div class="page-header">
                    <h1>
                        Gestion des catégories
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Nouvelle catégorie
                        </small>
                    </h1>
                </div>

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok-sign"></span>{{ flashMessage }}
                    </div>
                {% endfor %}
                <form action="{{ path('intersa_table_element_new',{'table':table}) }}" method="post"
                      class="form-group" {{ form_enctype(form) }}>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.name, "Libellé") }}</label>

                            <div>
                                {% if form.name.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.name) }}</label>
                                        {{ form_widget(form.name, {'attr': { 'class': 'task_field form-control', 'id':'libelle'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.name, {'attr': { 'class': 'task_field form-control', 'id':'libelle'} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail3" class=" control-label">{{ form_label(form.code, "Code") }}
                            </label>

                            <div>
                                {% if form.code.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.code) }}</label>
                                        {{ form_widget(form.code, {'attr': { 'class': 'task_field form-control', 'id':'code'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.code, {'attr': { 'class': 'task_field form-control', 'id':'code'} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="widget-toolbox padding-8 clearfix">

                        <button class="btn btn-xs btn-success pull-right"  type="submit">
                            <span class="bigger-110">Enregistrer la catégorie</span>

                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}