

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body {
            font-size: 12px;
        }
        .couleur-titre {
            color:#d58512;
        }
        th {
            text-align: left;
        }
        .row_td {
            background-color: #B3BCF8;
        }
        .sub_total {
            background-color: #1AC5EC;
        }
        .aligne_row {
            text-align: right;
            width:150px;
        }
        .page {
            overflow: hidden;
            page-break-after: always;
        }
        td {
            padding: 3px;
        }
    </style>

</head>



<div class="tab-pane">
    <br/>
    <table class="table table-condensed" id="table_ligne_search">
        <thead style="width: 100px;">
            <tr>
                {% for key,value in col_display %}
                    {% for key2,value2 in value %}

                        {% if key2 == "numdonateur" %}
                            <th >{{value2}}</th>
                            {% elseif key2 ==  "nom" %}
                            <th >{{value2}}</th>
                            {% elseif key2 ==  "prenom" %}
                            <th >{{value2}}</th>


                        {% elseif key2 ==  "cat" %}
                            <th >{{value2}}</th>


                        {% elseif key2 ==  "nomentreprise" %}
                            <th >{{value2}}</th>
                            {% elseif key2 ==  "statut" %}
                            <th >{{value2}}</th>

                        {% elseif key2 ==  "email" %}
                            <th >{{value2}}</th>


                        {% elseif key2 ==  "telmobile" %}
                            <th >{{value2}}</th>

                            {#% elseif key2 ==  "birthday" %}
                                <th >{{value2}#}<!--/th-->

                        {% elseif key2 ==  "adresse" %}
                            <th >{{value2}}</th>

                            {#% elseif key2 ==  "telmobile" %}
                                <th >{{value2}}</th>
    
                            {% elseif key2 ==  "telfixe" %}
                                <th >{{value2}#}<!--/th-->

                            {#% elseif key2 ==  "adscriterecherchese" %#}
                                <!--th >{#{value2}#}</th-->
                        {% elseif key2 ==  "ville" %}
                            <th >{{value2}}</th>

                        {% elseif key2 ==  "pays" %}
                            <th >{{value2}}</th>

                        {% elseif key2 ==  "zipcode" %}
                            <th >{{value2}}</th>

                            {#% elseif key2 ==  "createdat" %}
                                <th >{{value2}#}<!--/th-->

                        {% endif %}


                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody id="content" >
            {% for r2 in data2 %}
                <tr id="id_ligneserach_{{r2['id']}}">
                    {% for key,value in col_display %}
                        {% for key2,value2 in value %}
                            {% if key2 == "numdonateur" %}
                                <td>{{ r2['ref_donateur'] }}</td>
                            {% elseif key2 ==  "nom" %}
                                <td>{{ r2['nom'] }}</td>
                            {% elseif key2 == "prenom" %}
                                <td>{{ r2['prenom'] }}</td>
                            {% elseif key2 == "statut" %}
                                <td> {% if r2['removed'] %}<span
                                        class="label label-danger arrowed-in arrowed-in-right">Désactivé</span> {% else %}
                                    <span class="label label-success arrowed-in arrowed-in-right">Actif</span>{% endif %}
                                </td>
                            {% elseif key2 == "cat" %}
                                <td><ul>
                                        {% for r in data %}
                                            {%if r['id'] == r2['id']  %}
                                                {%if r['id'] is not null  %}
                                                    <li>{{ r['name'] }}</li>
                                                    {%endif%}
                                                {%endif%}
                                            {% endfor %}


                                    </ul></td>
                                {% elseif key2 == "nomentreprise" %}
                                <td>{% if r2['nom_entreprise'] is defined and r2['nom_entreprise'] is not null %}{{ r2['nom_entreprise'] }}{% else %} N/A{% endif %}</td>
                            {% elseif key2 == "email" %}
                                <td>{{ r2['email'] }}</td>

                            {% elseif key2 == "telmobile" %}
                                <td>{{ r2['telephone_mobile'] }}</td>


                                {#% elseif key2 == "birthday" %}
                                    <!--td>{#{ r2['datenaissance']|date('d/m/Y') }#}<!--/td-->
                                <!--td-->{#{ r2['datenaissance'] }}</td>
                                {#% elseif key2 == "telmobile" %}
                                    <td>{{ r2['telephone_mobile'] }#}<!--/td-->
                                {#% elseif key2 == "telfixe" %}
                                    <td>{{ r2['telephone_fixe'] }#}<!--/td-->
                            {% elseif key2 == "adresse" %}
                                <td>{{ r2['adresse3'] }}</td>
                            {% elseif key2 == "ville" %}
                                <td>{{ r2['iso_ville'] }}</td>
                            {% elseif key2 == "pays" %}
                                <td>{{ r2['iso_pays']|getcountryname }}</td>
                            {% elseif key2 == "zipcode" %}
                                <td>{{ r2['zipcode'] }}</td>
                                {#% elseif key2 == "createdat" %}
                                    <td>{{ r2['created_at']|date('d/m/Y') }#}<!--/td-->
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>

            {% endfor %}

        </tbody>
    </table>
    <center>

        {% if pager2 is defined and pager2 is not null %}

            {# Pager #}
            {% if pager2.haveToPaginate %}
                {% set state = '' %}
                <ul class="pagination pull-center">
                    {# back #}
                    {% if pager2.hasPreviousPage %}
                        {% set state = 'paginate_button first' %}
                        <li class="{{ state }}"><a href="javascript:void(0);" style="cursor: pointer" onclick="paginateCritere({{ pager2.getCurrentPage() -1 }},{{id_entity}} )">&laquo;&nbsp;{{ 'Previous'|trans }}</a></li>
                        {% else %}
                        <li class="disabled">
                            <span>&laquo;&nbsp;{{ 'Previous'|trans }}</span>
                        </li>
                    {% endif %}
                    {# pages 1 2 3 ... #}
                    {% for givenPage in 1..pager2.getNbPages() %}
                        {% set state = '' %}

                        {% if givenPage >= current_page-4 and givenPage <= current_page+4 %}
                            {% if   givenPage == current_page-4 or givenPage == current_page+4 %}
                                {% if   givenPage == current_page-4 %}
                                    {% set state = 'active' %}
                                    <li class="{{ state }}"><a href="javascript:void(0);" style="cursor: pointer" onclick="paginateCritere({{ givenPage }},{{id_entity}})">1{#{ givenPage }#}</a></li>
                                    <li class="disabled"><a href="#">...</a></li>
                                    {% else %}
                                    <li class="disabled"><a href="#">...</a></li>
                                    <li class="{{ state }}"><a href="javascript:void(0);" style="cursor: pointer" onclick="paginateCritere({{ last_page }},{{id_entity}})">{{ last_page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if givenPage == current_page %}
                                    <li class="active"><a href="#">{{ givenPage }}</a></li>
                                    {% else %}
                                    <li class="{{ state }}"><a href="javascript:void(0);" style="cursor: pointer" onclick="paginateCritere({{ givenPage }},{{id_entity}})">{{ givenPage }}</a></li>

                                {% endif %}
                            {% endif %}
                        {% endif %}

                    {%  endfor %}


                    {# forward #}
                    {% set state = '' %}
                    {% if pager2.hasNextPage %}
                        <li class="{{ state }}" ><a href="javascript:void(0);" style="cursor: pointer" onclick="paginateCritere({{ pager2.getCurrentPage() +1}},{{id_entity}} )">{{ 'Next'|trans }}&nbsp;&raquo;</a></li>
                        {% else %}
                        <li class="disabled">
                            <span>&laquo;&nbsp;{{ 'Next'|trans }}</span>
                        </li>
                    {% endif %}



                {% endif %}
            {% endif %}

    </center>

</div>
<div>



</div>



<!--div  id="table_ligne_type_pret">
</div-->