{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets '../app/Resources/Public/css/global/jquery-ui/jquery-ui.css' %}
        <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <style>
            label {
                font-size: 12px !important;
                font-weight: bold !important;
                padding: 2px !important;
                margin: 0 !important;
            }
        </style>
    {% endblock %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('intersa_donateur') }}">Gestion des donateurs</a></li>
            <li ><a href="{{ path('intersa_donateur_gestion', {'id':donateur.id,'cumul':cumul,'date':date}) }}">Gestion du donateur #{{ donateur.refDonateur }}</a></li>
            <li class="active">Modification du donateur</li>
        </ol>
        </div>
        <div class="page-content">
        <form action="{{ path('intersa_donateur_edit', {'id':donateur.id}) }}" method="post" class="form-group" {{ form_enctype(form) }}>
        <div class="page-header">
            <h1>
                Modification du donateur
                {#{dump('hoooooouuuunnniiiii')}#}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Modifier le donateur : #{{ donateur.id }}
                </small>
            </h1>
        </div><!-- /.page-header -->


        <div class="widget-toolbox padding-8 clearfix">


            <button class="btn btn-xs btn-success pull-right" type="submit">
                <span class="bigger-110">Modifier le donateur</span>

                <i class="ace-icon fa fa-save icon-on-right"></i>
            </button>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title title-plus">Informations générales</h4>


                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.civilite, "Civilité") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.civilite) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.civilite, {'attr': {'class': 'task_field form-control input-sm', 'id':'civilite'} }) }}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3" class=" control-label">{{ form_label(form.nom, "Nom") }} <span
                                        class="required-input"> * </span></label>

                            <div>
                                {% if form.nom.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.nom) }}</label>
                                        {{ form_widget(form.nom, {'attr': {'class': 'task_field form-control input-sm', 'id':'inputError', 'placeholder':'Nom' } }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.nom, {'attr': {'class': 'task_field form-control input-sm', 'id':'nom', 'placeholder':'Nom' } }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.prenom, "Prénom") }}</label>

                            <div>
                                {% if form.prenom.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.prenom) }}</label>
                                        {{ form_widget(form.prenom, {'attr': {'class': 'task_field form-control input-sm', 'id':'prenom', 'placeholder':'Prénom' } }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.prenom, {'attr': {'class': 'task_field form-control input-sm', 'id':'prenom', 'placeholder':'Prénom' } }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.dateNaissance, "Date de naissance") }}</label>

                            <div>
                                {% if form.dateNaissance.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.date_naissance) }}</label>
                                        {{ form_widget(form.dateNaissance, {'attr': { 'id':'dateNaissance', 'placeholder':'jj/mm/aaaa', 'class': 'task_field form-control input-sm' } }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.dateNaissance, {'attr': { 'id':'nom', 'placeholder':'jj/mm/aaaa', 'class': 'task_field form-control input-sm' } }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.categories, "Catégories") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.categories) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.categories, {'attr': { 'class': 'task_field form-control input-sm', 'id':'cat_don'} }) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title title-plus">Communication</h4>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <label for="inputEmail3"
                                   class=" control-label">{{ form_label(form.email, "Email") }} </label>

                            <div>
                                {% if form.email.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="control-label"
                                               for="inputError"> {{ form_errors(form.email) }}</label>
                                        {{ form_widget(form.email, {'attr': { 'class': 'task_field form-control input-sm', 'id':'email'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.email, {'attr': { 'class': 'task_field form-control input-sm', 'id':'email'} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="telephoneMobile"
                                   class=" control-label">{{ form_label(form.telephoneMobile, "Téléphone mobile") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.telephoneMobile) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.telephoneMobile, {'attr': { 'class': 'task_field form-control input-sm', 'id':'telephoneMobile'} }) }}
                            </div>
                        </div>
                        <div>
                            <label for="telephone_fixe"
                                   class=" control-label">{{ form_label(form.telephoneFixe, "Téléphone fixe") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.telephoneFixe) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.telephoneFixe, {'attr': { 'class': 'task_field form-control input-sm', 'id':'telephone_fixe'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.span -->

        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title title-plus">Adresse postale</h4>

                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.isopays, "Pays") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.isopays) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.isopays, {'attr': { 'class': 'task_field form-control input-sm', 'id':'pays'} }) }}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.zipcode, "Code postal ") }}</label>

                            <div>
                                {% if form.zipcode.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="label-plus"
                                               for="inputError"> {{ form_errors(form.zipcode) }}</label>
                                        {{ form_widget(form.zipcode, {'attr': { 'class': 'task_field form-control', 'id':'codepostal'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.zipcode, {'attr': { 'class': 'task_field form-control', 'id':'zipcode'} }) }}
                                {% endif %}

                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.isoville, "Ville") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.isoville) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.isoville, {'attr': { 'class': 'task_field form-control', 'id':'ville'} }) }}
                            </div>
                        </div>


                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.adresse3, "Numéro + libellé de la voie (rue,avenue...) ") }}</label>

                            <div>
                                {% if form.adresse3.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="label-plus"
                                               for="inputError"> {{ form_errors(form.adresse3) }}</label>
                                        {{ form_widget(form.adresse3, {'attr': { 'class': 'task_field form-control', 'id':'adresse3'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.adresse3, {'attr': { 'class': 'task_field form-control', 'id':'adresse3'} }) }}
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.adresse1, "N° appartement ou boîte aux lettres - etage - couloir - escalier ") }}</label>

                            <div>
                                {% if form.adresse1.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="label-plus"
                                               for="inputError"> {{ form_errors(form.adresse1) }}</label>
                                        {{ form_widget(form.adresse1, {'attr': { 'class': 'task_field form-control', 'id':'adresse1'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.adresse1, {'attr': { 'class': 'task_field form-control', 'id':'adresse1'} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.adresse2, "Entrée - bâtiment - immeuble - résidence ") }}</label>

                            <div>
                                {% if form.adresse2.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="label-plus"
                                               for="inputError"> {{ form_errors(form.adresse2) }}</label>
                                        {{ form_widget(form.adresse2, {'attr': { 'class': 'task_field form-control', 'id':'adresse2'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.adresse2, {'attr': { 'class': 'task_field form-control', 'id':'adresse2'} }) }}
                                {% endif %}
                            </div>
                        </div>


                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.adresse4, "BP - Lieu dit ") }}</label>

                            <div>
                                {% if form.adresse4.vars.errors|length %}
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    <div class="form-group has-error">
                                        <label class="label-plus"
                                               for="inputError"> {{ form_errors(form.adresse4) }}</label>
                                        {{ form_widget(form.adresse4, {'attr': { 'class': 'task_field form-control', 'id':'adresse4'} }) }}
                                    </div>
                                {% else %}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.adresse4, {'attr': { 'class': 'task_field form-control', 'id':'adresse4'} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.span -->

        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title title-plus">Configuration</h4>

                </div>

                <div class="widget-body">
                    <div class="widget-main">


                        <div>
                            <label for="inputEmail3"
                                   class=" label-plus">{{ form_label(form.receptionMode, "Mode de communication") }}</label>

                            <div>
                                {% for field in form.receptionMode %}
                                    <li style="list-style-type:none; ">
                                        {{ form_widget(field, {'attr': { 'checked': 'checked'} }) }}
                                        {{ form_label(field) }}
                                    </li>
                                {% endfor %}
                            </div>
                        </div>


                        <div>
                            <label class=" label-plus col-sm-12">Accepte les Reçus Fiscaux ?</label>

                            <div class="col-sm-12">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="allow_rf" id="allow_rf1" value="true"
                                               {% if data['allow_rf'] is defined %}{% if  data['allow_rf'] == "true" %}checked{% endif %}{% else %}checked{% endif %}>
                                        Oui
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="allow_rf" id="allow_rf2" value="false"
                                               {% if data['allow_rf'] is defined  and  data['allow_rf'] == "false" %}checked{% endif %}>
                                        Non
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="situationProfessionnelle"
                                   class=" label-plus">{{ form_label(form.commentaire, "Commentaire") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.commentaire) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.commentaire, {'attr': { 'class': 'task_field form-control input-sm', 'id':'commentaire'} }) }}
                            </div>
                        </div>


                        <!-- /section:plugins/input.chosen -->
                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title title-plus"  >Autres informations</h4>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div  >
                            <label for="nomEntreprise" class=" label-plus">{{ form_label(form.nomEntreprise, "Nom de l'entreprise (Le cas échéant)") }}</label>
                            <div >
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.nomEntreprise) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.nomEntreprise, {'attr': { 'class': 'task_field form-control', 'id':'nomEntreprise'} }) }}
                            </div>
                        </div>
                        <div>
                            <label for="situationFamiliale"
                                   class=" label-plus">{{ form_label(form.telephoneMobile, "Situation familiale") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.situationFamiliale) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.situationFamiliale, {'attr': { 'class': 'task_field form-control input-sm ', 'id':'situationFamiliale'} }) }}
                            </div>
                        </div>
                        <div>
                            <label for="situationProfessionnelle"
                                   class=" label-plus">{{ form_label(form.situationProfessionnelle, "Situation Professionnelle") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.situationProfessionnelle) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.situationProfessionnelle, {'attr': { 'class': 'task_field form-control input-sm', 'id':'situationProfessionnelle'} }) }}
                            </div>
                        </div>


                        <div>
                            <label for="statutDonateur"
                                   class=" label-plus">{{ form_label(form.statutDonateur, "Statut donateur") }}</label>

                            <div>
                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.statutDonateur) }}

                                {# Génération de l'input. #}
                                {{ form_widget(form.statutDonateur, {'attr': { 'class': 'task_field form-control input-sm', 'id':'statutDonateur'} }) }}
                            </div>
                        </div>


                        <div>
                            <label class=" label-plus">Fourchette de revenus du foyer</label>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="fourchetteMin"
                                           class=" label-plus">{{ form_label(form.fourchetteMin, "Min") }}</label>

                                    <div>
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.fourchetteMin) }}

                                        {# Génération de l'input. #}
                                        {{ form_widget(form.fourchetteMin, {'attr': { 'class': 'task_field form-control input-sm', 'id':'fourchetteMin'} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fourchetteMax"
                                           class=" label-plus">{{ form_label(form.fourchetteMax, "Max") }}</label>

                                    <div>
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.fourchetteMax) }}

                                        {# Génération de l'input. #}
                                        {{ form_widget(form.fourchetteMax, {'attr': { 'class': 'task_field form-control input-sm', 'id':'fourchetteMax'} }) }}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.span -->
        </div>
        <!-- /.row -->
        {{ form_rest(form) }}
        </form>
        </div>
        {% block javascripts %}
            {{ parent() }}
            {% javascripts '../app/Resources/Public/js/jquery-ui/jquery-ui.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
            $('#allow_rf1').on('click', function(){
                if($('#allow_rf1').is(':checked')) {
                    $('#allow_annual_rf1').removeAttr('disabled');
                    $('#allow_annual_rf2').removeAttr('disabled');
                }
            });
            $('#allow_rf2').on('click', function(){
                if($('#allow_rf2').is(':checked')) {
                    $('#allow_annual_rf1').attr('disabled','true');
                    $('#allow_annual_rf2').attr('disabled','true');
                }
            });
            if($('#allow_rf1').is(':checked')) {
                $('#allow_annual_rf1').removeAttr('disabled');
                $('#allow_annual_rf2').removeAttr('disabled');
            }
            if($('#allow_rf2').is(':checked')) {
                $('#allow_annual_rf1').attr('disabled','true');
                $('#allow_annual_rf2').attr('disabled','true');
            }

            $(document).ready(function() {
                $.getJSON("/villes/id/"+$("#fulldon_donateurbundle_intersadonateurtype_pays").val()).done(function( vj ) {
                    var options = '';
                    var curville = null;
                    {% if  data['curville'].id is defined and  data['curville'].id is not null %}
                    curville = {{ data['curville'].id }};
                    {% endif %}
                    for (var i = 0; i < vj.length; i++) {
                        if(vj[i].id == curville)
                            options += '<option value="' + vj[i].id + '" selected="selected">' + vj[i].name + '</option>';
                        else
                            options += '<option value="' + vj[i].id + '">' + vj[i].name + '</option>';
                    }
                    $("#ville").html(options);

                });
                $("#fulldon_donateurbundle_intersadonateurtype_pays").on('change', function(event){
                    event.stopImmediatePropagation();
                    $.getJSON("/villes/id/"+$(this).val()).done(function( vj ) {
                        var options = '';
                        for (var i = 0; i < vj.length; i++) {

                            options += '<option value="' + vj[i].id + '">' + vj[i].name + '</option>';
                        }
                        $("#ville").html(options);
                    });
                });
            });

            (function($) {
                $(function() {

                    $('#fulldon_donateurbundle_intersadonateurtype_dateNaissance').datepicker({
                        startView: 'decade',
                        language: "fr-FR",
                        format: "dd/mm/yyyy",
                        autoclose: true,
                        todayHighlight: true
                    })
                            .on('hide',function(){var a = $(this);setTimeout(function(){a.show();},2);})
                    ;

                });
            })(jQuery);

            var accentMap = {
                "á": "a",
                "à": "a",
                "â": "a",
                "ä": "a",
                "ç": "c",
                "é": "e",
                "è": "e",
                "ê": "e",
                "ë": "e",
                "î": "i",
                "ï": "i",
                "ô": "o",
                "ö": "o",
                "ù": "u",
                "û": "u",
                "ü": "u",
                "'": " "

            };
            var normalize = function(term){
                var ret = "";
                for(var i = 0; i < term.length; i++){
                    ret += accentMap[ term.charAt(i) ] || term.charAt(i);
                }
                return ret;
            };
            var current_localite;
            var checkZipcode = $('#fulldon_donateurbundle_intersadonateurtype_zipcode').val();
            var current_cities = new Array();
            if(checkZipcode.length !=0 ) {
                callCpApi(checkZipcode, '');

            }
            function callCpApi(zipcode, pays) {

                var _urldqe = 'https://prod2.dqe-software.com/';
                var pays = 'FRA';
                var vliscence ='INTERSA12';
                var current_pays = $( "#fulldon_donateurbundle_intersadonateurtype_isopays").val();
                if(current_pays == 'FR') {
                    //DQE
                    $.ajax({

                        url:_urldqe+"CP/?Pays="+pays+"&CodePostal="+zipcode+"&Licence="+vliscence,

                        dataType: 'jsonp',

                        jsonp : "callback",

                        crossDomain: true,

                        jsonpCallback: "afficheCp"
                    }).done(function(data) {

                            });
                }
            }
            function callAdrApi(adresse, localite) {
                var _urldqe = 'https://prod2.dqe-software.com/';
                var pays = 'FRA';
                var vliscence ='INTERSA12';
                var current_pays = $( "#fulldon_donateurbundle_intersadonateurtype_isopays").val();

                if(current_pays == 'FR') {
                    //DQE
                    $.ajax({

                        url:_urldqe+"ADR/?Pays="+pays+"&IDLocalite="+localite+"&Adresse="+adresse+"&Licence="+vliscence,

                        dataType: 'jsonp',

                        jsonp : "callback",

                        crossDomain: true,

                        jsonpCallback: "afficheAdr"
                    }).done(function(data) { });
                }
            }
            var timeoutReference;
            var timeoutReferenceAdr;

            $('input#fulldon_donateurbundle_intersadonateurtype_zipcode').keypress(function() {
                var el = this; // copy of this object for further usage

                if (timeoutReference) clearTimeout(timeoutReference);
                timeoutReference = setTimeout(function() {
                    verifycp.call(el);
                }, 3000);
            });
            $('input#fulldon_donateurbundle_intersadonateurtype_zipcode').blur(function(){
                verifycp.call(this);
            });
            $('input#fulldon_donateurbundle_intersadonateurtype_adresse3').keypress(function() {
                var el = this; // copy of this object for further usage
                $('input#fulldon_donateurbundle_intersadonateurtype_adresse3').val(normalize($('input#fulldon_donateurbundle_intersadonateurtype_adresse3').val()));
                if (timeoutReference) clearTimeout(timeoutReference);
                timeoutReference = setTimeout(function() {
                    verifyAdr.call(el);
                }, 400);

            });
            $('input#fulldon_donateurbundle_intersadonateurtype_adresse3').blur(function(){
                verifyAdr.call(this);
            });
            function verifycp(){
                // we only want to execute if a timer is pending
                if (!timeoutReference){
                    return;
                }
                // reset the timeout then continue on with the code
                timeoutReference = null;

                //
                // Code to execute here
                //
                var pays = $('#fulldon_donateurbundle_intersadonateurtype_isopays').val();
                var zipcode = $('#fulldon_donateurbundle_intersadonateurtype_zipcode').val();
                if(zipcode.length != 0 || pays.length !=0) {
                    // ajax
                    callCpApi(zipcode, pays);

                }

            }
            function verifyAdr(){
                // we only want to execute if a timer is pending
                if (!timeoutReference){
                    return;
                }
                // reset the timeout then continue on with the code
                timeoutReference = null;

                //
                // Code to execute here
                //
                var adresse = $('#fulldon_donateurbundle_intersadonateurtype_adresse3').val();
                var localite = current_localite;
                if(adresse.length > 3 ) {
                    // ajax
                    callAdrApi(adresse,localite);

                }
            }
            function afficheCp(RtnData) {

                current_cities = new Array();
                _listeVilleChoix = [];
                var repcp = eval('('+RtnData+')');
                pos = 0;
                var resultat=new Array();
                $.each(repcp, function(nomRes,res) {
                    resultat[nomRes]=res;
                    _listeVilleChoix.push({label:resultat[nomRes].CodePostal+' '+resultat[nomRes].Localite+' '+resultat[nomRes].LieuDit, value:resultat[nomRes].CodePostal+''+resultat[nomRes].Localite+' '+resultat[nomRes].LieuDit, id:pos, codeville:
                            resultat[nomRes].IDLocalite, ville: resultat[nomRes].Localite, lieudit: resultat[nomRes].LieuDit, cp:
                            resultat[nomRes].CodePostal});
                    pos=pos+1;

                });
                if(_listeVilleChoix.length > 1) {
                    var tags =new Array();
                    for(var i=0; i < _listeVilleChoix.length ; i++) {
                        tags[i] = _listeVilleChoix[i].ville.trim();
                        current_cities[_listeVilleChoix[i].ville.trim()] = _listeVilleChoix[i].codeville;
                    }
                    $( "#fulldon_donateurbundle_intersadonateurtype_isoville" ).autocomplete({
                        source: function( request, response ) {
                            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                            response( $.grep( tags, function( item ){
                                return matcher.test( item );
                            }) );
                        },
                        change: function() {
                            current_localite = current_cities[$(this).val().toUpperCase()];

                        }
                    });
                } else {
                    console.log(current_localite);
                    $( "#fulldon_donateurbundle_intersadonateurtype_isoville" ).autocomplete({source: [], change: []});
                    // Afficher la ville
                    current_localite = _listeVilleChoix[0].codeville;
                    $('#fulldon_donateurbundle_intersadonateurtype_isoville').val(_listeVilleChoix[0].ville);

                }
            }
            function afficheAdr(RtnData) {
                $( "#fulldon_donateurbundle_intersadonateurtype_adresse3" ).autocomplete({source: [], change: []});
                _listeAdrChoix = [];
                var tags =new Array();
                var repcp = eval('('+RtnData+')');
                pos = 0;
                var resultat=new Array();
                $.each(repcp, function(nomRes,res) {
                    resultat[nomRes]=res;
                    _listeAdrChoix.push({label:resultat[nomRes].CodePostal+' '+resultat[nomRes].Localite+' '+resultat[nomRes].LieuDit, value:resultat[nomRes].CodePostal+''+resultat[nomRes].Localite+' '+resultat[nomRes].LieuDit, id:pos, codeville:
                            resultat[nomRes].IDLocalite, ville: resultat[nomRes].Localite, lieudit: resultat[nomRes].LieuDit, cp:
                            resultat[nomRes].CodePostal, adr: resultat[nomRes].Numero +" "+resultat[nomRes].Voie});
                    pos=pos+1;

                });
                if(_listeAdrChoix.length >= 1) {

                    for(var i=0; i < _listeAdrChoix.length ; i++) {
                        tags[i] = _listeAdrChoix[i].adr.trim();
                    }

                    $( "#fulldon_donateurbundle_intersadonateurtype_adresse3" ).autocomplete({
                        source: function( request, response ) {
                            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                            response( $.grep( tags, function( item ){
                                return matcher.test( item );
                            }) );
                        }
                    });

                }
            }
            </script>
        {% endblock %}
    {% endblock %}