{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
<div class="breadcrumbs" id="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('intersa_donateur') }}">Gestion des donateurs</a></li>
            <li ><a href="{{ path('intersa_donateur_gestion', {'id':donateur.id,'cumul':cumul,'date':date}) }}">Gestion du donateur #{{ donateur.refDonateur }}</a></li>
            <li class="active">Historique des dons</li>
        </ol>
</div>
        <div class="page-content" >

            <div class="col-md-12 pull-left">
                <div class="page-header">
                    <h1>
                        Historique des dons ponctuels
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Référence du donateur : #{{ donateur.refDonateur }}
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                    <div class="pagination_desc"><strong>{{ total_dons }}</strong> dons ponctuels dans l'historique
                        {% if last_page > 1 %}
                            - page <strong>{{ current_page }}/{{ last_page }}</strong>
                            <br />
                        {% endif %}
                    </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Montant (en €)</th>
                        <th>Etat</th>
                        <th>Mode de paiement</th>
                        <th>Cause</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for don in dons %}
                        <tr {% if don.transaction.statut.code is defined %}
                                {% if don.transaction.statut.code == "attente" %}class="warning"{% endif %}
                                {% if don.transaction.statut.code == "traitement_paiement" %}class="alert-info"{% endif %}
                                {% if don.transaction.statut.code == "don_valide" %}class="success"{% endif %}
                                {% if don.transaction.statut.code == "paiement_annule" %}class="danger"{% endif %}
                            {% else %}
                                class="danger"
                            {% endif %}
                                >
                            <td>{{ don.id }}</td>
                            <td>{{ don.createdAt | date('Y-m-d H:i:s') }}</td>
                            <td>{{ don.montant|round(2, 'floor')}} €</td>
                            <td>{% if don.transaction.statut.libelle is defined %}{{ don.transaction.statut.libelle  }}{% else %}Abondonné{% endif %}</td>
                            <td>{% if don.modePaiement is defined and don.modePaiement is not null %}{{ don.modePaiement.libelle }}{% endif %}</td>
                            <td>{% if don.cause is not null %}{{ don.cause.libelle }}{% endif %}</td>
                            <td><a href="{{ path('intersa_dons_view', {'id':don.id}) }}" class="btn btn-xs btn-default" ><span class="glyphicon glyphicon-eye-open"></span>  Voir</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <center>
        {% if last_page > 1 %}
            <ul class="pagination pull-center">
                <li><a href="{{ path('intersa_donateur_history', {'id':donateur.id, 'page': previous_page }) }}">&laquo;</a></li>
                {% for page in 1..last_page %}
                    {% if page == current_page %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                    <li><a href="{{ path('intersa_donateur_history', { 'id':donateur.id, 'page': page }) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ path('intersa_donateur_history', {'id':donateur.id, 'page': next_page }) }}">&raquo;</a></li>
            </ul>
            {% endif %}
        </center>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>

            $('#fulldon_donateurbundle_dontype_abonnement_actif').on('click', function(){
                if($('#fulldon_donateurbundle_dontype_abonnement_actif').is(':checked')) {
                    $('#abo_date').show();
                } else {
                    $('#abo_date').hide();
                }
            });
        </script>
    {% endblock %}