{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('intersa_users') }}">Gestion des utilisateurs</a></li>
                <li class="active"> Modification  </li>
            </ol>
        </div>
        <div class="page-content">

                <div class="col-md-12">
                    <div class="page-header">
                        <h1>
                            Gestion des utilisateur
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Modification de l'utilisateur : #id
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <h3 style="margin-top:5px;" class="couleur-admin" >Modification : </h3>
                    <hr />

                    <form action="{{ path('intersa_users_edit', {'id' : id} ) }}" method="post" class="form-group" {{ form_enctype(form) }}>

                        {# Les erreurs générales du formulaire. #}
                        {{ form_errors(form) }}

                        <div style="margin-bottom:10px;">
                            {# Génération du label. #}
                            <label for="user">{{ form_label(form.username, "Utilisateur") }}</label>

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.username) }}

                            {# Génération de l'input. #}
                            {{ form_widget(form.username, {'attr': {'class': 'task_field form-control', 'id':'user'} }) }}
                        </div>
                        <div>
                            {# Génération du label. #}
                            <label for="pass">{{ form_label(form.password, "Mot de passe") }}</label>

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.password) }}

                            {# Génération de l'input. #}
                            {{ form_widget(form.password, {'attr': {'class': 'task_field form-control', 'id':'pass'} }) }}
                        </div>
                        <div>
                            {# Génération du label. #}
                            <label for="roles">{{ form_label(form.roles, "Rôles") }}</label>

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.roles) }}

                            {# Génération de l'input. #}
                            {{ form_widget(form.roles, {'attr': {'class': ' form-control', 'id':'roles'} }) }}
                        </div>
                        <div>

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.isactive) }}

                            {# Génération de l'input. #}
                            {{ form_widget(form.isactive, {'attr': {'class': ' checkbox-inline', 'id':'active'} }) }}{{ form_label(form.isactive, "Activé") }}
                        </div>
                        {# Génération des champs pas encore écrits.
                           Dans cet exemple, ce serait « date », « auteur » et « publication »,
                           mais aussi le champ CSRF (géré automatiquement par Symfony !)
                           et tous les champs cachés (type « hidden »). #}
                        {{ form_rest(form) }}

                    </form>
                </div>



        </div> <!-- /container -->


{% endblock %}