{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets '../app/Resources/Public/css/global/jquery-ui/*' %}
        <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <style>
            #sortable1, #sortable2 {
                border: 1px solid #eee;
                min-height: 20px;
                list-style-type: none;
                margin: 0;
                padding: 5px 0 0 0;
                float: left;
                width: 100%;
                /*margin-right: 10px;*/
            }

            #sortable1 li, #sortable2 li {
                margin: 0 5px 5px 5px;
                padding: 5px;
                font-size: 0.8em;
                /*width: 120px;*/
            }


        </style>
    {% endblock %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('intersa_marketing',{'page':1}) }}">Gestion des tâches </a></li>
                <li class="active">Export des dons</li>
            </ol>
        </div>
        <div class="page-content">

            <div class="col-md-12 ">
                <div class="page-header">
                    <h1>
                        Nouveau export des dons
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Créer votre tâche en fonction de votre cible
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok-sign"></span>{{ flashMessage }}
                    </div>
                {% endfor %}
                {% if display_error %}
                    <div class="alert alert-danger alert-dismissable" style="border-radius: 0px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span class="glyphicon glyphicon-remove-circle"></span> Erreur lors de la validation de la compagne.
                        <br/>
                        <ul>
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <li>{{ flashMessage|trans({},'messages') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form action="{{ path('export_search_dons') }}" method="post" class="form-group" >
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-group">
                                <label for="action"><b> Actions : </b></label>
                                <select name="action" class="form-control" id="action" >
                                    <option value="dons-pdf"> Générer un pdf du résultat </option>
                                    <option value="dons-xsl"> Générer un excel du résultat </option>
                                    <option value="dons-csv"> Générer un csv du résultat </option>
                                </select>
                            </div>
                            <label><b> Cible : </b></label>
                            <h5>Liste des Recherches favorites (Dons)</h5>
                            {% if favoris_dons|length != 0 %}
                                {% for f in favoris_dons  %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="search_fav_dons[]" value="{{ f.id }}">
                                            {{ f.title }}<br /><span style="font-size: 10px;">{{ f.description }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <br /> Aucune recherche (dons) sauvegardée jusqu'à present.
                            {% endif %}

                            <br />



                            <div class="widget-toolbox padding-8 clearfix">

                                <button class="btn btn-xs btn-success pull-right"  type="submit">
                                    <span class="bigger-110">Envoyer la campagne</span>

                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                </button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts '../app/Resources/Public/js/daterangepicker/moment-with-langs.min.js'
        '../app/Resources/Public/js/daterangepicker/daterangepicker.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '../app/Resources/Public/js/ckeditor_plugins/fulldon.plugin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '../app/Resources/Public/js/jquery-ui/jquery-ui.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}