{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
<div class="breadcrumbs" id="breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
        <li class="active">Gestion des sollicitations externes</li>
    </ol>

    </div>
        <div class="page-content">
<div class="col-md-12">
    <div class="page-header">
        <h1>
            Gestion des sollitations Externes
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Fichiers importés
            </small>
        </h1>
    </div><!-- /.page-header -->
{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        {{ flashMessage }}
    </div>
{% endfor %}


<div class="row">

    <div class="form-group col-md-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>#REF</th>
                <th>Nom du fichier</th>
                <th>Code Occasion</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody id="content" >
            {% for r in prospections %}
                <tr class="">

                    <td>{{ r.id }}</td>
                    <td>{{ r.fileName }}</td>
                    <td>{% if r.occasion is defined and r.occasion is not null %}{{ r.occasion.name }}{% endif %}</td>
                    <td>{{ r.createdAt|date('d/m/Y') }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
        </div>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}


        <script>

            $(document).ready(function() {
                $("div.holder").jPages({
                    containerID : "content",
                    perPage: 10
                });

            });

        </script>
    {% endblock %}