{% if donateur is defined and donateur is not null %}
    {% if donateur.categorie.code == 'ADHERENTS' %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            Attention le donnateur ci-dessous est un adhérent !
        </div>
        <br />
    {% endif %}
    <b> Date de création : </b><br/> {{ donateur.createdAt | date('Y-m-d H:i:s') }}<br/>
    <b> Adresse du donateur 2 :</b><br/>
    {{ donateur.civilite }} {{ donateur.nom }} {{ donateur.prenom }}<br/>
    {{ donateur.adresse1 }}<br/>
    {{ donateur.adresse2 }}<br/>
    {{ donateur.adresse3 }}<br/>
    {{ donateur.adresse4 }}<br/>
    {% if donateur.ville is defined and donateur.ville is not null %}
        {{ donateur.ville.name }}<br/>
    {% endif %}
    {{ donateur.zipcode }}<br/>
    {% if donateur.pays is defined and donateur.pays is not null %}
        {{ donateur.pays.name }}<br/>
    {% endif %}
    <b>Email :</b> {{ donateur.email }}<br/>
{% endif %}