<!DOCTYPE HTML>
<html>
{% if init['perso'].couleur is defined  and init['perso'].couleur  is not null %}{%  set mycolor = init['perso'].couleur %} {% else %}{%  set mycolor = '#7a6cc0' %}{% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-md-12" style="border: 1px solid {{ mycolor }};margin:0 auto;max-width: 970px;padding:10px;">
                <div style="padding:20px;">
                Bonjour {{ donateur.civilite }} {{ donateur.nom }} {{ donateur.prenom }},<br /><br />
                <div style=" color:{{ mycolor }}">
                    Votre inscription à l'espace donateur de l'association {{ assoc_name }} a bien été prise en compte. Merci !
                </div><br />
                <br />
                Voici vos identifiants pour accéder à votre espace personnel : <br />
                <b>Lien : </b> <a href="{{ url('login_donateur') }}">{{ url('login_donateur') }}</a> <br />
                <b>login : </b>{{ login }}<br />
                <b>Mot de passe  : </b>{{ password }}<br />
                <br />
                Vous pouvez désormais personnaliser votre compte, effectuer vos dons en ligne et générer les reçus fiscaux correspondants.

                Merci encore pour votre soutien !
                Solidairement,
                </div>
                <hr style="color: {{ mycolor }};background-color: {{ mycolor }};" />
                <center>
                    {% if init['perso'] is defined and init['perso'] is not null %}
                        {{ init['perso'].adresseAssoc | raw }}
                    {% endif %}<br />
                    {%  set params = app.request.attributes.get('_route_params') %}
                    {% if init['perso'] is defined %}
                        {% if params['_locale'] == 'fr' %}
                            {{ init['perso'].rfMessage | raw }}
                        {% elseif params['_locale'] == 'en' %}
                            {{ init['perso'].rfMessageEn | raw }}
                        {% endif %}
                    {% endif %}
                </center>

                <br />
        </div>
            </div>
    </div>
</body>
</html>
