{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
        <div class="breadcrumbs" id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
                <li class="active">Mise à niveau de Fulldon</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="col-md-12 pull-left">
            <div class="page-header">
                <h1>
                    Mise à niveau de Fulldon
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Choisissez la formule qui vous convient
                    </small>
                </h1>
            </div><!-- /.page-header -->
                <div class="row">
                <!-- #section:pages/pricing.small-header -->
                <div class="col-xs-5 col-sm-5 pricing-span-header">
                    <div class="widget-box transparent">
                        <div class="widget-header">
                            <h5 class="widget-title bigger lighter">Modules & fonctionnalités</h5>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <ul class="list-unstyled list-striped pricing-table-header">
                                    <li>Solution SaaS </li>
                                    <li>Nombre d'utilisateurs </li>
                                    <li>Génération des reçus fiscaux </li>
                                    <li>Exploitation totale de la base de donnée</li>
                                    <li>Campagne E-mailing et outils eMarketings</li>
                                    <li>Espace sécurisé </li>
                                    <li>Rapports des statistiques</li>
                                    <li>Espace donateur</li>
                                    <li>Personnalisation sur mésure de l'espace donateur</li>
                                    <li>Page de don et adhésion</li>
                                    <li>E-paiement (CB, Paypal, Visa, MasterCard)</li>
                                    <li>E-paiement abonnement (CB, PAYPAL, VISA, MASTERCARD)</li>
                                    <li>Mandat electronique</li>
                                    <li>Nom de domaine personnalisé</li>
                                    <li>Support client</li>
                                    <li>Dématérialisation des chèques et mandats</li>
                                    <li>Formation à l'outil</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /section:pages/pricing.small-header -->

                <!-- #section:pages/pricing.small-body -->
                <div class="col-xs-7 col-sm-7 pricing-span-body">


                    <div class="pricing-span">
                        <div class="widget-box pricing-box-small widget-color-grey">
                            <div class="widget-header">
                                <h5 class="widget-title bigger lighter">Formule basique</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <ul class="list-unstyled list-striped pricing-table">
                                        <li> <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>                                            <i class="ace-icon fa fa-check green"></i>
                                            1</li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>

                                        <li>
                                            <i class="ace-icon fa fa-check green"></i>

                                        </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                    </ul>

                                    <div class="price">
															<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
																10€
																<small>/mois</small>
															</span>
                                    </div>
                                </div>

                                <div>
                                    <a href="{{ path('intersa_upgrade_confirmation', {'level': 1}) }}" class="btn btn-block btn-sm btn-grey">
                                        <span>S'abonner</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-span">
                        <div class="widget-box pricing-box-small widget-color-grey">
                            <div class="widget-header">
                                <h5 class="widget-title bigger lighter">Formule standard</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <ul class="list-unstyled list-striped pricing-table">
                                        <li> <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>                                            <i class="ace-icon fa fa-check green"></i>
                                            1</li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>

                                        <li>
                                            <i class="ace-icon fa fa-check green"></i>

                                        </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                    </ul>

                                    <div class="price">
															<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
																100€
																<small>/mois</small>
															</span>
                                    </div>
                                </div>

                                <div>
                                    <a href="{{ path('intersa_upgrade_confirmation', {'level': 2}) }}" class="btn btn-block btn-sm btn-grey">
                                        <span>S'abonner</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-span">
                        <div class="widget-box pricing-box-small widget-color-grey">
                            <div class="widget-header">
                                <h5 class="widget-title bigger lighter">Formule premium</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <ul class="list-unstyled list-striped pricing-table">
                                        <li> <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>                                            <i class="ace-icon fa fa-check green"></i>
                                            5</li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>

                                        <li>
                                            <i class="ace-icon fa fa-check green"></i>

                                        </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>

                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li><i class="ace-icon fa fa-times red"></i></li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                    </ul>

                                    <div class="price">
															<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
																400€
																<small>/mois</small>
															</span>
                                    </div>
                                </div>

                                <div>
                                    <a href="{{ path('intersa_upgrade_confirmation', {'level': 3}) }}" class="btn btn-block btn-sm btn-grey">
                                        <span>S'abonner</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-span">
                        <div class="widget-box pricing-box-small widget-color-grey">
                            <div class="widget-header">
                                <h5 class="widget-title bigger lighter">Formule illimitée</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <ul class="list-unstyled list-striped pricing-table">
                                        <li> <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>                                            <i class="ace-icon fa fa-check green"></i>
                                            illimité </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>

                                        <li>
                                            <i class="ace-icon fa fa-check green"></i>

                                        </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                        <li>  <i class="ace-icon fa fa-check green"></i> </li>
                                    </ul>

                                    <div class="price">
															<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
																Sur devis
															</span>
                                    </div>
                                </div>

                                <div>
                                    <a href="{{ path('intersa_upgrade_confirmation', {'level': 4}) }}" class="btn btn-block btn-sm btn-grey">
                                        <span>S'abonner</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /section:pages/pricing.small-body -->
                </div><!-- PAGE CONTENT ENDS -->

            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}