{% extends "FulldonDonateurBundle:Donateur:coque_donateur.html.twig" %}
    {% block coque_donateur %}
        <div class="row" >

        <div class="col-md-12" >

        <h1  class="couleur-donateur" >{{ "Paiement en ligne"|trans({},'messages') }} </h1>
        <hr />
            <ol class="progtrckr" data-progtrckr-steps="3">
                <li class="progtrckr-done">{{ "Configuration"|trans({},'messages') }}</li>
                <li class="progtrckr-done">{{ "Paiement"|trans({},'messages') }}</li>
                <li class="progtrckr-todo">{{ "Validation"|trans({},'messages') }}</li>
            </ol>
         <br />
        <div class="alert alert-info">{{ "Vos coordonnées bancaires"|trans({},'messages') }} : <br />

            {{ "Veuillez choisir la méthode de paiement qui vous convient"|trans({},'messages') }}.</div>
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-success">
                {{ flashMessage|trans({},'messages') }}
            </div>
        {% endfor %}
            <form action="{{ path('payment_details', { 'id':don.id}) }}" method="post" class="form-group" >
            <div class="row" >

                <div class="col-md-6" >

                <label for="date_debut_pa"><label for="date_debut_pa" class="required">{{ "Date de début prévue de l'abonnement"|trans({},'messages') }}</label></label>
                {{ date_debut|date('d/m/Y') }}
                <br />
                <label for="date_debut_pa"><label for="date_fin_pa" class="required">{{ "Date de fin de l'abonnement (optionnel)"|trans({},'messages') }} </label></label>
                {% if  app.session.flashbag.has('date_fin_pa')%}
                    {# Affichage des erreurs pour ce champ précis. #}
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">
                            {% for flashMessage in app.session.flashbag.get('date_fin_pa') %}
                                <li>{{ flashMessage|trans({},'messages') }}</li>
                            {% endfor %}
                        </label>
                        <input type="text" id="date_fin_pa" name="date_fin_pa"   class="task_field form-control datepicker" {% if champs['date_fin_pa'] is defined %}value="{{ champs['date_fin_pa'] }}"{% endif %} autocomplete="off">
                    </div>
                {% else %}
                    <input type="text" id="date_fin_pa" name="date_fin_pa"   class="task_field form-control datepicker" {% if champs['date_fin_pa'] is defined %}value="{{ champs['date_fin_pa'] }}"{% endif %} autocomplete="off">
                {% endif %}
                <br />
                <label for="periodicite"><label for="periodicite" class="required">{{ "Périodicité"|trans({},'messages') }}</label></label>
                {% if  app.session.flashbag.has('error_periodicite')%}
                    {# Affichage des erreurs pour ce champ précis. #}
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">
                            {% for flashMessage in app.session.flashbag.get('error_periodicite') %}
                                <li>{{ flashMessage|trans({},'messages') }}</li>
                            {% endfor %}
                        </label>
                        <SELECT id="periodicite" name="periodicite" required="required" class="task_field form-control " >
                            {% for periode in periodes %}
                                <option value="{{ period.id }}" {% if champs['periodicite'] is defined and champs['periodicite']== period.id %}selected="selected"{% endif %}>{{ period.name }}</option>
                            {% endfor %}
                        </SELECT>
                    </div>
                {% else %}
                    <SELECT id="periodicite" name="periodicite" required="required" class="task_field form-control " >
                        {% for periode in periodes %}
                            <option value="{{ periode.id }}" {% if champs['periodicite'] is defined and champs['periodicite']== periode.id %}selected="selected"{% endif %}>{{ periode.name }}</option>
                        {% endfor %}
                    </SELECT>
                {% endif %}
                    <br />

                    </div>
                <div class="col-md-6" >
                    <h3> {{ "Méthodes de paiement"|trans({},'messages') }} : </h3>
                    {{ "Paiement hautement sécurisé par"|trans({},'messages') }} Ogone
                    <br /><br />
                    <div style="float:left;margin-right: 5px;">
                        <label>
                            <input type="radio" name="payment_method" value="VISA"> <img src="{{ asset('img/visa.png') }}"  />
                        </label>
                    </div>
                    <div style="float:left;margin-right: 5px;">
                        <label>
                            <input type="radio" name="payment_method" value="MasterCard"> <img  src="{{ asset('img/mastercard.png') }}" />
                        </label>
                    </div>
                    <div  style="float:left;margin-right: 5px;" >
                        <label>
                            <input type="radio" name="payment_method" value="PAYPAL"> <img  src="{{ asset('img/paypal.png') }}" />
                        </label>
                    </div>
                    </div>

            </div>
                <hr class="text-info" />
            <div class="pull-right" style="margin-bottom: 10px;"><input type="submit" value="{{ "Finaliser le paiement"|trans({},'messages') }}" class="btn btn-primary" /></div>
            </form>
        </div>
            </div>
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}

{% endblock %}