{% extends "FulldonIntersaBundle::coque_intersa.html.twig" %}
    {% block coque_intersa %}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ol class="breadcrumb">
        <li><a href="{{ path('fulldon_intersa_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('intersa_advanced_stats') }}">Statistiques avancées</a></li>
        <li class="active">Statistiques d'attrition par entité ({{ entity }}) et par operation ({{ occasion }})</li>
    </ol>
    </div>
<div class="page-content">
    <div class="page-header">
        <h1>
            Statistiques globales
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Entité : {{ entity }}, Operation : {{ occasion }}
            </small>
        </h1>
    </div>


            <a href="#" onclick="document.forms['pdf'].submit()" class="btn btn-info" ><span class="glyphicon glyphicon-file"></span> Générer un PDF</a>

        <a href="#" onclick="document.forms['excel'].submit()"  class="btn btn-default" ><img src="{{ asset('img/excel.png') }}" /> Générer un Excel</a>
<hr />
    <form action="{{ path('intersa_advanced_stats_attrition_pdf') }}" method="post" name="pdf" target="_blank">
        <input type="hidden" name="pdf_occasion" value="{{ occasion }}"/>
        <input type="hidden" name="pdf_entity" value="{{ entity }}" />
    </form>
    <form action="{{ path('intersa_advanced_stats_attrition_excel') }}" method="post" name="excel" target="_blank">
        <input type="hidden" name="excel_occasion" value="{{ occasion }}"/>
        <input type="hidden" name="excel_entity" value="{{ entity }}" />
    </form>
<b>Operation : </b>{{ occasion }}
<hr />
{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        {{ flashMessage }}
    </div>
{% endfor %}


<div class="row">

    <div class="form-group col-md-12">
        <table class="table table-condensed" style="width:100%;float:left;">
            <thead>
            <tr>
                <th>Code occasion</th>
                <th>Cible</th>
                <th>NB ENVOIS</th>
                <th>NB A VIE =0</th>
                <th>%</th>
                <th>NB A VIE <=5</th>
                <th>%</th>
                <th>NB A VIE <=11</th>
                <th>%</th>

            </tr>
            </thead>
            <tbody id="content" >
            {% for r in data['result'] %}
                <tr class="">

                    <td>{{ r.code }}</td>
                    <td>{{ r.cible }}</td>
                    <td>{{ r.pros }}</td>
                    <td>{{ r.nb0 }}</td>
                    <td>{% if r.pros != 0 %}{{ ((r.nb0/r.pros)*100)|round(2) }}{% else %} 0 {% endif %}</td>
                    <td>{{ r.nb5 }}</td>
                    <td>{% if r.pros != 0 %}{{ ((r.nb5/r.pros)*100)|round(2) }}{% else %} 0 {% endif %}</td>
                    <td>{{ r.nb11 }}</td>
                    <td>{% if r.pros != 0 %}{{ ((r.nb11/r.pros)*100)|round(2) }}{% else %} 0 {% endif %}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>


    {% endblock %}
    {% block javascripts %}
        {{ parent() }}


        <script>

            $(document).ready(function() {
                $("div.holder").jPages({
                    containerID : "content",
                    perPage: 10
                });

            });

        </script>
    {% endblock %}