{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('erreur') %}
    <div class="alert alert-danger">
        <i class="fa fa-warning"></i> {{ flashMessage }}
    </div>
{% endfor %}
<table>
    {% if images|length >0 %}
        <table class="table">
            {% for image in images %}
                <tr>
                    <td class="col-md-6"><img src="{{ asset('upload/' ~ image.id ~'/' ~ image.image)}}"  style="width:100px;" class="img-responsive" /></td>
                    <td class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="removeImg({{ image.id }})" ><i class="fa fa-trash-o"></i> Supprimer</a></li>
                                <li><a href="#" onclick="insertImg('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('upload/' ~ image.id ~'/' ~ image.image)}}')" ><i class="fa fa-copy"></i> Insérer l'image dans l'éditeur</a></li>
                            </ul>
                        </div></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <hr />
        Aucune image sauvegardée.
    {% endif %}
</table>